.main{
    background: #F7F7F7;
    width: 100%;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 8px;

}
.text-center{
    border: 0;
   text-align: center !important ;
    color: #008cff;
 
}
.nav-pills .nav-link {
    background: #E3EEFF !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0d6efd !important;
}
tr.data {
    background: white !important;
    text-align: center !important ;

}
tr.data {
    padding: 1.25rem 0.75rem;
    font-size: 13px;
    font-weight: 600;
}
button.complete {
    background: 007b 10;
    background-color: cornflowerblue;
    color: #F7F7F7;
    border: none;
    border-radius: 3px
}
button.pending {
    background-color: rgba(255, 0, 0, 0.749);
    font-size: medium;
    color: #F7F7F7;
    border: none;
    border-radius: 3px
}
img.bep {
    width: 30px;
    /* height: 24px; */
}



table {
    border:none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  .table>:not(:first-child) {
    border-top: 2px solid#008cff !important;
}
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  .form-control{
    margin-right: 10px !important;
    margin-left: 10px !important;
    width: 50px !important;
}
button.btn.btn-primary {
  margin-left: 15px;
}
.pagination{
  align-items: center;
}


  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* general styling */
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }